.venv/
venv/
env/
ENV/
business/
pyvenv.cfg
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
.DS_Store
.vscode/
.idea/
/*.log
static/assets/vendor/
*.pyc
*.pyo
*.pyd
build/
dist/
.pytest_cache/
coverage/
*.egg-info/
egg-info/
.